/* Background styling */
body {
  color: black;
  background-color: #f8f9fa;
}

/* Removes list numbering */
ol {
  list-style-type: none;
  padding-left: 0;
}

/* Button styling */

#answer-buttons * {
  font-weight: 500;
  color: black;
}
#btnA {
  background-color: #cee7ca;
}

#btnB {
  background-color: #bddfe3;
}

#btnC {
  background-color: #f1c0ba;
}

#btnD {
  background-color: #fbecc0;
}

/* Progress bar styling */

.progress-bar {
  width: 0%;
  background-color: #bddfe3;
}
.progress {
  position: relative;
  margin-left: 16px;
}

.progress-number {
  font-size: 14px;
  font-weight: bold;
  z-index: 10;
}
